.banner {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;

  .banner-image {
    width: 100%;
    height: 700px;
  }

  @media (min-width: 768px) {
    .banner-image {
      height: 600px; // Adjust as needed for medium screens
    }
  }

  @media (min-width: 1024px) {
    .banner-image {
      height: 600px; // Adjust as needed for large screens
    }
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.card {
  margin: 10px;
}

.categories-container {
  background-color: #B0D1FF;
  padding: 20px 0; /* Adjust padding as needed */
}

.categories {
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
}

.categories h1 {
  margin-bottom: 20px;
}

ul {
  padding: 0;
  list-style: none;

  li {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text */

    .category-icon {
      margin-bottom: 5px; /* Adjust spacing between icon and text */
      width: 50px; /* Adjust icon width */
      height: 50px; /* Adjust icon height */
    }

    .category-name {
      color: #4C4D4F;
      font-weight: bold;
    }
  }
}

.search-bar {
  margin: 20px;
}
