.show-page {
  .card-header {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .card-title {
    font-size: 1.5rem;
  }

  .card-subtitle {
    margin-bottom: 1rem;
  }
.card-lesson {
 width: 80%;
 margin-left: 200px;
}
  .card-text {
    margin-bottom: 1rem;
  }

  .img-thumbnail {
    margin-bottom: 1rem;
  }

  .btn-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  .card-body {
    font-size: 20px;
  }

  .card-body-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding:20px;
    .user-photo {
      width: 400px;
      height: 400px;
    }
  }

  .footer {
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    .social-buttons {
      display: flex;
      justify-content: center;
      padding: 2rem 0;

      .btn {
        background-color: #f4afaf;
        border-radius: 50%;
        margin: 0 0.5rem;
        font-size: 1.5rem;

        &:hover {
          background-color: #e09898;
        }
      }
    }

    .copyright {
      background-color: white;
      color: black;
      padding: 1rem 0;
    }
  }
}

.btn-sns {
  border-radius: 50%;
}
