.show-page {
  .card-header {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 20px;
  }

.card-header{
  background-color: #84b7ff;
  color: white;
}

  .card-subtitle {
    margin-bottom: 1rem;
  }

  .card-lesson {
    width: 80%;
    margin-left: 200px;
  }

  .card-text {
    margin-bottom: 1rem;
  }

  .img-thumbnail {
    margin-bottom: 1rem;
  }

  .btn-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }

  .card-body {
    font-size: 20px;
    display: flex;
    width: 100%;
    padding-right:400px;

    .text-content {
      text-align: left;
      width: 500px;
    }

    .price-content {
      width: 500px;
      padding-left: 300px;
    }
  }

  .card-body-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

    .user-photo {
      width: 400px;
      height: 400px;
      object-fit: cover;
    }
  }

  .footer {
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    .social-buttons {
      display: flex;
      justify-content: center;
      padding: 2rem 0;

      .btn {
        background-color: #f4afaf;
        border-radius: 50%;
        margin: 0 0.5rem;
        font-size: 1.5rem;

        &:hover {
          background-color: #e09898;
        }
      }
    }

    .copyright {
      background-color: white;
      color: black;
      padding: 1rem 0;
    }
  }
}

.btn-sns {
  border-radius: 50%;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;

  .btn-outline-bof {
    background-color: #FF8D8D;
    border-radius: 50px;
    padding: 0.375rem 0.75rem;
    color: white;

    &:hover {
      background-color: #FF8D8D;
    }

    &:active {
      background-color: #FF8D8D;
      border-color: #FF8D8D;
      color: #FF8D8D;
    }
  }


  .btn-outline-warning {
    border-radius: 50px;
    padding: 0.375rem 0.75rem;
    border:#FF8D8D solid 3px;
    color: #FF8D8D;

     &:hover {
      background-color: #FF8D8D;
      color:white;
    }
  }
}
