<h1>user profile connected</h1>

<h2>Email: <%= @user.email %></h2>
<h2>First Name: <%= @user.first_name %></h2>
<h2>Last Name: <%= @user.last_name %></h2>
<h2>Description: <%= @user.description %></h2>
