<h1>Welcome to Study-Sync!</h1>
<% @lessons.each do |lesson| %>
<a href="<%= lesson_path(lesson) %>">
<div class="card-category">
  <%= lesson.title %>
</div>
</a>
<% end %>
<%= link_to "New Lesson", new_lesson_path, class: "nav-button col-12"%>
