<h1>Welcome to Study-Sync!</h1>
<% @lessons.each do |lesson| %>
<a href="<%= lesson_path(lesson) %>">
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path lesson.photo.key, height: 300, crop: :fill %>">
  <%= lesson.title %>
</div>
</a>
<% end %>
<%= link_to "New Lesson", new_lesson_path, class: "nav-button col-12"%>
