// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/_booking_new";
@import "pages/show";

.card-category {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;
}


body {
  padding-top: 90px;
}

.user_banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.user_banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 42px;
  font-weight: bold;
}

.user_banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.user_h1 {
color: #4b4d4f;
background-color: #b0d1ff;
padding: 10px;
}

.user_page {
  overflow: hidden;
  height: 250px;
  // width: 700px;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
}

.user_page img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.user_page h2 {
  font-size: 26px;
  margin: 18px;
}

.user_page p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.user_page .user_page-infos {
  padding: 20px;
}
